@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor_fundo: #2d2c56;
  --tamanho_estrelha: 5vw;
  --cor_estrela: #fbfd03;
  --tamanho_capa_filme: 30vw;
}

@font-face {
  font-family: "pixel_font";
  src: url("fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "anime_font_title";
  src: url("fonts/HIROMISAKE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "glitch font";
  src: url("fonts/Glitch\ inside.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
 display: flex;
 flex-flow: row nowrap;
 align-items: center;
 justify-content: center;
 gap: 20px;

 height: 100vh;
 padding: 20px;

  background-color: #19183a;
  cursor: url("img/color-pixels-pokeball-default\ \(1\).png"), auto;
}

main {
  width: 30%;
  height: 70%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  cursor: url("img/color-pixels-pokeball-pointer.png"), pointer;
}

.star_rating {

  width: 100%;
  height: 90%;

  border-radius: 20px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: var(--cor_fundo);
}

.movie_name {
  color: white;
  text-align: center;
  font-size: 2.3vw;
  background-color: #19183a00;
  border: none;
  padding: 5px 20px;

  font-family: 'anime_font_title', 'Arial Narrow', Arial, sans-serif;
}

.movie_name:hover {
  background-color: #2d2c56;

  border-radius: 30px;
}

.movie_container {
  position: relative;
  width: var(--tamanho_capa_filme);
  height: calc(var(--tamanho_capa_filme) + 20vh);
}

.img_movie {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0) url("img/pokemon-o-filme-mewtwo-contra-ataca.jpg") no-repeat center;
  background-size: contain;

  display: flex;
  justify-content: right;
  align-items: end;

  position: relative;
}

.blur {
  filter: blur(25px);
}

.nsfw_content {
  background-color: rgba(0, 0, 0, 0.589);
  height: 100%;
  width: 100%;

  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  z-index: 99;
}

.nsfw_content > h1  {
  color: white;
  font-size: 2rem;
}

.nsfw_content > button {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s linear;
  margin-top: 10px;
}

.nsfw_content > button:active {
  scale: 0.9;
  opacity: 0.8;
}

.position_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.classification {
  font-size: 8vh;
  color: white;

  font-family: "Black Ops One", serif;
  font-weight: 400;
  font-style: normal;
}

.button_container {
  width: 100%;
  height: 30%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

}

#next_move_btn {
  max-width: 80%;
  height: 50%;

  margin: 15px 0;

  padding: 5px 20px;
  font-size: 2.5vh;
  border: none;
  border-radius: 0px 50px;


  color: white;
  background-color: rgb(46, 46, 255);
}

#rate_btn {

  max-width: 80%;
  height: 50%;

  margin: 15px 0;

  padding: 5px 20px;
  font-size: 2.5vh;
  border: none;
  border-radius: 0px 50px;


  color: white;
  background-color: rgb(46, 46, 255);
}

#rate_btn:hover, #next_move_btn:hover {
  background-color: rgb(69, 69, 255);
}

#rate_btn:active, #next_move_btn:active {
  background-color: rgb(88, 88, 228);
}

.star_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

#stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 100%;
  height: 100%;
  

  background-color: rgba(0, 100, 0, 0);

  /* border: 3px solid black; */
}

.star {
  position: relative;
  background-color: rgba(255, 68, 0, 0);
  width: var(--tamanho_estrelha);
  height: var(--tamanho_estrelha);
}

.star_border {
  /* background: #99252500 url("img/empty-star.png") no-repeat center;
  background-size: contain; */
  z-index: 7;
  width: var(--tamanho_estrelha);
  height: var(--tamanho_estrelha);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  background-color: #b8b9cb;
}

.star_shape {
  width: var(--tamanho_estrelha);
  height: var(--tamanho_estrelha);

  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 8;
}

.star_background {
  width: 0%;
  height: 100%;
  background-color: var(--cor_estrela);
}

/* estilizaçao do campo star rating score*/

.star_rating_score {
  width: 100%;
  height: 100%;
  background-color: var(--cor_fundo);
  border-radius: 20px;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;

  padding: 10px;
}

.rating_score_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.rating_score_container span {
  color: var(--cor_estrela);
}

.rating_score_border {
  width: 100%;
  height: 40%;
  background-color: #19183a;
}

.rating_score_fill {
  height: 100%;
  width: 0%;
  background-color: var(--cor_estrela);
}

.number_reviews {
  color: white !important;
}

/* Quadro de aviso de erro*/

.error_modal_container {

  display: none;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.295);

  z-index: 90;

  width: 100vw;
  height: 100vh;
}

.error_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 500px;
  height: 300px;
  background: white url("img/404-not-found-cute\(2\).jpg") no-repeat bottom;
  background-size: cover;

  border-radius: 30px;
  padding: 10px;
}

.error_character_img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 50%;
  opacity: 0.6;
}

.close_modal_btn {
  
  background-color: #e92525;
  border: none;

  padding: 10px 20px;
  border-radius: 50px;

  width: 100px;
  
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.close_modal_btn img {
  width: 15%;
}

.close_modal_btn:hover {
  background-color: #fc3d3d;
}

.close_modal_btn:active {
  background-color: #ff2b2b;
}

.error_modal > h1 {
  text-align: center;
  color: #FF3333;

  font-size: 2em;

  font-family: 'pixel_font', 'Arial Narrow', Arial, sans-serif;
}

.error_modal > p {

  text-align: justify;
  font-size: 1.2em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  

  font-family: "Geo", serif;
  font-weight: 400;
  font-style: normal;
}

/* media queries*/

@media only screen and (max-width: 650px) {

  :root {
    --tamanho_estrelha: 8vw;
  }

  body {
    flex-flow: column nowrap;
  }

  main {
    width: 90%;
    height: 50%;
  }
  
  .star_container {
    height: 40%;
  }

  #rate_btn, #next_move_btn {
    font-size: 2vh;
  }

  .classification {
    font-size: 5vh;
  }
}

@media only screen and (max-width: 800px) {

  :root {
    --tamanho_capa_filme: 60vw;
  }

  main {
    width: 100%;
    height: 50%;
  
  }

  .classification {
    font-size: 4vh;
  }

  #rate_btn, #next_move_btn {
    font-size: 1vh;
  }

  .star_rating {
    height: 50%;
  }

  #stars {
    height: 50%;
  }

  .total_rating_txt {
    font-size: 1.5vh;
  }
}